*{
    margin: 0;
    padding: 0;
}
body{
    max-height: 100vh;
}
nav{
    background-image: url(moisture-colorful-3840x1080-9732.jpg);
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: grid;
    place-content: center;
    font-size: 100px;
}
.link{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 20px;
    margin: 40px 50vh 0px 50vh;
}
.button{
    padding: 10px 30px;
    border-radius: 50px;
    background-color: white;
}
.active{
    background-color: #069cfa;
    border: none;
}
.body{
    display: grid;
    place-items: center;
}
.container{
    margin: 40px 0px 0px 0px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    box-shadow: 1px 0px 20px 2px rgb(0, 0, 0, 0.4);
    border-radius: 50px;
}
.img{
    width: 400px;
    height: 400px;
    border-radius:50px;
    display: grid;
    place-content: center;
}
.content{
    color: hsl(224, 30%, 27%);
    width: 400px;
    height: 400px;
    border-radius:50px;
    display: grid;
    place-items: center;
}
.img1{
    width: 200px;
    height: 200px;
}
.input{
    margin-top: 40px;
    width: 75%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: none;
}
.text{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slider{
    display: grid;
    place-items: center;
    position: relative;
    top: -8px;
} 
.i1{
    width: 250px;
}
.size{
    margin-right: 20px;
}
.btn1{
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: white;
    width: 75%;
}
.btn1:hover{
    background-color: #069cfa;
    border: none;
}
.btns{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 291px;
}
.btns1{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: white;
    width: 230px;
}
.btns2{
    margin: 5px;
    height: 35px;
    width: 45px;
    background-color: white;
    border: none;
    border-radius: 10px;
}
.btns2:hover{
    box-shadow: 1px 1px 5px #000000;
}
.popup{
    display: none;
    width: 70px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    position: absolute;
    top: 88%;
    left: 68.3%;
    padding: 7px 5px;
}
.popup::after{
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}
.img2{
    width: 30px;
    height: 33px;
}